openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://epk.anantatechnology.com'
paths:
  /api/register:
    post:
      summary: Register
      operationId: register
      description: 'Handle an incoming registration request.'
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: lidxz
                nidn_npm:
                  type: string
                  description: ''
                  example: at
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: hkreiger@example.net
                telepon:
                  type: string
                  description: 'Must be at least 10 characters. Must not be greater than 13 characters.'
                  example: jizdpqgu
                password:
                  type: string
                  description: ''
                  example: id
              required:
                - name
                - nidn_npm
                - email
                - telepon
                - password
      security: []
  /api/login:
    post:
      summary: Login
      operationId: login
      description: 'Handle an incoming authentication request.'
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: kub.aleen@example.org
                password:
                  type: string
                  description: ''
                  example: '07Nw*9~Y@'
              required:
                - email
                - password
      security: []
  /api/matakuliah:
    get:
      summary: 'Mata Kuliah'
      operationId: mataKuliah
      description: 'Get Mata Kuliah data'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
  '/api/asesmen/{mata_kuliah_uuid}':
    get:
      summary: Asesmen
      operationId: asesmen
      description: 'Get Asesmen data'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: mata_kuliah_uuid
        description: ''
        example: 3560d681-57ea-32c5-b9c0-f2f9fce1a789
        required: true
        schema:
          type: string
  '/api/kompetensi/{asesmen_uuid}':
    get:
      summary: Kompetensi
      operationId: kompetensi
      description: 'Get Kompetensi data'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: asesmen_uuid
        description: ''
        example: 39e8dded-37fa-370d-9c96-678615918a7b
        required: true
        schema:
          type: string
  '/api/subkompetensi/{kompetensi_uuid}':
    get:
      summary: Kompetensi
      operationId: kompetensi
      description: 'Get Kompetensi data'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: kompetensi_uuid
        description: ''
        example: 4e86f2ee-3dcc-3bff-880e-f66b27099c9d
        required: true
        schema:
          type: string
  /api/logout:
    get:
      summary: Logout
      operationId: logout
      description: 'Destroy an authenticated session.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
tags:
  -
    name: Endpoints
    description: ''
