openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://epk.anantatechnology.com'
paths:
  /api/register:
    post:
      summary: Register
      operationId: register
      description: 'Handle an incoming registration request.'
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: czbty
                nidn_npm:
                  type: string
                  description: ''
                  example: consectetur
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: wharber@example.org
                telepon:
                  type: string
                  description: 'Must be at least 10 characters. Must not be greater than 13 characters.'
                  example: hcomxfjek
                password:
                  type: string
                  description: ''
                  example: voluptas
              required:
                - name
                - nidn_npm
                - email
                - telepon
                - password
      security: []
  /api/login:
    post:
      summary: Login
      operationId: login
      description: 'Handle an incoming authentication request.'
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: fredy.schaden@example.org
                password:
                  type: string
                  description: ''
                  example: 'AGjF7>0K]/A/MvcSk'
              required:
                - email
                - password
      security: []
  /api/matakuliah:
    get:
      summary: 'Mata Kuliah'
      operationId: mataKuliah
      description: 'Get Mata Kuliah data'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
  /api/logout:
    get:
      summary: Logout
      operationId: logout
      description: 'Destroy an authenticated session.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
tags:
  -
    name: Endpoints
    description: ''
