openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://epk.anantatechnology.com'
paths:
  /api/register:
    post:
      summary: Register
      operationId: register
      description: 'Handle an incoming registration request.'
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: wrpdhqd
                nidn_npm:
                  type: string
                  description: ''
                  example: quod
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: wilson.dubuque@example.com
                telepon:
                  type: string
                  description: 'Must be at least 10 characters. Must not be greater than 13 characters.'
                  example: exdyle
                password:
                  type: string
                  description: ''
                  example: ut
              required:
                - name
                - nidn_npm
                - email
                - telepon
                - password
      security: []
  /api/login:
    post:
      summary: Login
      operationId: login
      description: 'Handle an incoming authentication request.'
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: meda.rath@example.com
                password:
                  type: string
                  description: ''
                  example: 'X*4lTdQ6e>Tyh'
              required:
                - email
                - password
      security: []
  /api/matakuliah:
    get:
      summary: 'Mata Kuliah'
      operationId: mataKuliah
      description: 'Get Mata Kuliah data'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
  '/api/asesmen/{mata_kuliah_uuid}':
    get:
      summary: Asesmen
      operationId: asesmen
      description: 'Get Asesmen data'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: mata_kuliah_uuid
        description: ''
        example: 698b7e43-ce94-3f19-a145-1257113420e4
        required: true
        schema:
          type: string
  '/api/kompetensi/{asesmen_uuid}':
    get:
      summary: Kompetensi
      operationId: kompetensi
      description: 'Get Kompetensi data'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: asesmen_uuid
        description: ''
        example: 6bb3c133-7595-3976-9fe7-a11389164c22
        required: true
        schema:
          type: string
  '/api/subkompetensi/{kompetensi_uuid}':
    get:
      summary: 'Sub Kompetensi'
      operationId: subKompetensi
      description: 'Get Sub Kompetensi data'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: kompetensi_uuid
        description: ''
        example: 3d8043de-f9e3-38a6-b498-0a915bd15ad5
        required: true
        schema:
          type: string
  /api/logout:
    get:
      summary: Logout
      operationId: logout
      description: 'Destroy an authenticated session.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
tags:
  -
    name: Endpoints
    description: ''
