openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://epk.anantatechnology.com'
paths:
  /api/register:
    post:
      summary: Register
      operationId: register
      description: 'Handle an incoming registration request.'
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: jkar
                nidn_npm:
                  type: string
                  description: ''
                  example: et
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: mhills@example.net
                telepon:
                  type: string
                  description: 'Must be at least 10 characters. Must not be greater than 13 characters.'
                  example: ryqypepqdbbb
                password:
                  type: string
                  description: ''
                  example: ut
              required:
                - name
                - nidn_npm
                - email
                - telepon
                - password
      security: []
  /api/login:
    post:
      summary: Login
      operationId: login
      description: 'Handle an incoming authentication request.'
      parameters: []
      responses: {  }
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: fkonopelski@example.org
                password:
                  type: string
                  description: ''
                  example: 'S(*:v~z#'
              required:
                - email
                - password
      security: []
  /api/matakuliah:
    get:
      summary: 'Mata Kuliah'
      operationId: mataKuliah
      description: 'Get Mata Kuliah data'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
  '/api/asesmen/{mata_kuliah_uuid}':
    get:
      summary: Asesmen
      operationId: asesmen
      description: 'Get Asesmen data'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: mata_kuliah_uuid
        description: ''
        example: d44baa2a-055a-35c9-8a3c-edfd8c1cb191
        required: true
        schema:
          type: string
  /api/logout:
    get:
      summary: Logout
      operationId: logout
      description: 'Destroy an authenticated session.'
      parameters: []
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Endpoints
      security: []
tags:
  -
    name: Endpoints
    description: ''
